.*
!.gitignore
_*
*.log
core

*.out

!results
results/*
!results/recovered_seqs.fa
!results/sra_downloads
results/sra_downloads/*
!results/sra_downloads/*.sra
!results/consensus
results/consensus/*
!results/consensus/consensus_seqs.csv
!results/phylogenetics
results/phylogenetics/*
!results/phylogenetics/all_alignment.csv

report.html
