.*
!.gitignore
_*
*.log
core

*.out

!results
results/*
!results/deleted_seq_alignment_matches.csv
!results/recovered_seqs.fa
!results/sra_downloads
results/sra_downloads/*
!results/sra_downloads/*.sra
!results/consensus
results/consensus/*
!results/consensus/consensus_seqs.csv
!results/phylogenetics
results/phylogenetics/*
!results/phylogenetics/all_alignment.csv
!results/phylogenetics/all_alignment_no_filter_rare.csv
!results/ref_genome
results/ref_genome/*
!results/ref_genome/ref_genome.fa
!results/early_sequences
results/early_sequences/*
!results/early_sequences/deltadist.csv
!results/gsa_sra_matches.csv

report.html
